/***************************************************************************************************************************/
/*                                                                                                                         */
/*________________________________________________________________body_____________________________________________________*/
/*                                                                                                                         */
/*                                                                                                                         */
/***************************************************************************************************************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    background-color: #373737;
}

/***************************************************************************************************************************/
/*                                                                                                                         */
/*________________________________________________________________header___________________________________________________*/
/*                                                                                                                         */
/*                                                                                                                         */
/***************************************************************************************************************************/

.cabecera{
    background-color: #373737;
}

.cabecera__img{
    box-shadow: 2px 4px 15px #C0B283;
    height: 4em;
    width: 10em;
    margin-left: 1em;
    transition: transform 0.2s;
}

.cabecera__img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cabecera a{
    text-decoration: none;
}

.cabecera__h1{
    font-size: 6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #DCD0C0;
    display: inline-block;
    padding-left: 1.5em;
    margin-left: 1em;
    text-shadow: 2px 4px 15px #C0B283;
}

.cabecera__form-login{
    color: #DCD0C0;
    position: absolute;
    left: 63.2em;
    top: 0.2em;
    height: 50px;
    width: 50px;
}

.cabecera__form-login-usuario{
    transform: scale(0.8);
}

.cabecera__form-login-contraseña{
    transform: scale(0.8);
    margin-top: -0.3em;
}

.cabecera__form-login-boton{
    margin-top:0.2em;
    transform: scale(0.8);
    margin-left: 0;
}

.cabecera__form-login-boton:hover{
    background: #DCD0C0;
}

.cabecera__nav-tipo-expo{
    background-color: black;
    padding-left: 28em;
    margin-top: 1em;
    padding-bottom: 0.25em;
}

.cabecera__nav-tipo-expo a{
    color: #DCD0C0;
    text-decoration: none;
    margin-left: 1em;
    transition: font-size 0.2s;
}

.cabecera__nav-tipo-expo a:hover{
    color: #C0B283;
    border-bottom: 1px solid;
    font-size: 1.1em;
}

.cabecera__nav-tipo-expo a:visited{
    color: #C0B283;
}

.cabecera__nav-registro{
    position: absolute;
    left: 63.3em;
    top: 6em;
    margin-top: 0.3em;
}

.cabecera__nav-registro a{
    color: #DCD0C0;
    text-decoration: none;
    margin-left: 0.2em;
    font-size: 0.6em;
}

.cabecera__nav-registro a:hover{
    color: #C0B283;
    border-bottom: 1px solid;
}

.cabecera__nav-registro a:visited{
    color: #C0B283;
}

/***************************************************************************************************************************/
/*                                                                                                                         */
/*________________________________________________________________main_____________________________________________________*/
/*                                                                                                                         */
/*                                                                                                                         */
/***************************************************************************************************************************/

main{
    background-color: #DCD0C0;
    position: relative;
}

.main__exposiciones-h3{
    font-size: 1.5em;
    transform: translate(20.5em, 0.5em);
}

.main__exposiciones{
    height: 50em;
    margin-bottom: 0.5em;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 5em;
    padding-bottom: 2em;
}

.main__exposiciones article{
    position: relative;
    display: inline-block;
    margin-left: 16em;
    padding-top: 5em;
    margin-top: -2em;
    height: 25em;
    width: 15em;
    border: #373737 3px double;
    background-color: #F4F4F4;
    margin-top: 2em;
    transition: transform .5s, background-color .2s;
}

.main__exposiciones article:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #373737;
    color:#F4F4F4
}

.main__exposiciones article:hover > b > a{
    color: #F4F4F4;
}



.main__exposiciones article b{
    position: absolute;
    top: 16em;
    left: 2.5em;
}

.main__exposiciones article b:hover > a{
    color: #C0B283;
}

.main__exposiciones article p{
    position: absolute;
    font-size: 0.7em;
    top: 30em;
    left: 3.5em;
    width: 15em;
}

.main__exposiciones article img{
    position: absolute;
    margin-top: 1em;
    width: 10em;
    height: 10em;
    top: 0;
    left: 2.5em;
    transition: transform 0.5s, box-shadow 0.5s;
}

.main__exposiciones article img:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 2px 4px 15px #C0B283;
}

.main__exposiciones article a{
    display: block;
    text-decoration: none;
    color:#373737;
    transition: color 0.2s;
}

.main__aside{
    width: 15em;
    height: 50em;
    position: absolute;
    top: 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #C0B283;
}  

.main__aside article a{
     margin-bottom: 3em;
     text-decoration: none;
     color:#373737;
}

.main__aside article a:hover{
    color: #F4F4F4;
}

.main__exposiciones article p{  
    transform: translateY(-1.5em);
}

.main__aside article{
    margin-bottom: 3em;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

/***************************************************************************************************************************/
/*                                                                                                                         */
/*________________________________________________________________footer___________________________________________________*/
/*                                                                                                                         */
/*                                                                                                                         */
/***************************************************************************************************************************/


footer{
    position: relative;
    margin: 0.5em auto;
    width: 15em;
    height: 5em;
    background-color: #F4F4F4;
}

.footer__contacto{
    position: absolute;
    right: 0;
    left: 0;
    top: 2em;
}

.footer__contacto a{
    display: block;
    padding-left: 4.5em;
    background-color: #373737;
    text-decoration: none;
    color: #DCD0C0;
    transition: transform 0.5s;;
}

.footer__contacto a:hover{
    color: #C0B283;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.footer__contacto a:visited{
    color: #C0B283;
}
